<body>
    <div class="row d-flex justify-content-center wow fadeIn">
        <div class="col-md-10 text-center">
            <h4 class="my-4 h4">Our Expertise</h4>
            <p>This is a subtitle, to make it look good</p>

            <div class="gallery">
                <div class="img-container">
                    <div class="text">Hello World!</div>
                    <a href="../.././/assets/img/1.jpg" target="_blank"><img src="../.././/assets/img/1.jpg"
                            alt="This is a"></a>
                </div>

                <div class="img-container">
                    <div class="text">Hello World!</div>
                    <a href="../.././/assets/img/2.jpg" target="_blank"><img src="../.././/assets/img/2.jpg"
                            alt="This is a"></a>
                </div>

                <div class="img-container">
                    <div class="text">Hello World!</div>
                    <a href="../.././/assets/img/3.jpg" target="_blank"><img src="../.././/assets/img/3.jpg"
                            alt="This is a"></a>
                </div>

                <div class="img-container">
                    <div class="text">Hello World!</div>
                    <a href="../.././/assets/img/4.jpg" target="_blank"><img src="../.././/assets/img/4.jpg"
                            alt="This is a"></a>
                </div>

                <div class="img-container">
                    <div class="text">Hello World!</div>
                    <a href="../.././/assets/img/5.jpg" target="_blank"><img src="../.././/assets/img/5.jpg"
                            alt="This is a"></a>
                </div>

                <div class="img-container">
                    <div class="text">Hello World!</div>
                    <a href="../.././/assets/img/6.jpg" target="_blank"><img src="../.././/assets/img/6.jpg"
                            alt="This is a"></a>
                </div>
            </div>
        </div>
    </div>
</body>